html{
  font-size: 12px;
}


body{
	/*margin: 10px;
	padding: 10px;
*/
	margin: 1%;
	padding: 1%;
	background-color: rgba(0,0,255,.2);
}

.forAboveMd{
	display: none;
}

.nav1{
	display: none;
}


.header-img {
  width: 100%;
  height: 100px;
  background: url('../image/PhotoGallery50.jpg');
  background-size: cover;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

a{	
	color: #007efa;
	font-size: 1.5rem;
}

h1{
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 2.5rem;
}


/*.active {
	background-color: rgba(255, 255, 255,1);
}*/

h2{
	color: #000000;
	font-family: sans-serif;
}

p{
	font-size:1.2rem;
}


.right{
	
	float:right;
	display: inline-block;
	width:95%;
	text-align: justify;
	height:100vh;
	margin:1%;
	padding:1%;
	/*visibility: auto;*/
	
}



table{
	/*border:2px solid black;*/
	width:75%;
	margin-left:12.5% ;
	margin-right: 12.5%;

	font-family: "Lucida Sans", Times, sans-serif;
	border-bottom: 2px solid black;
	font-size: 1rem;
	font-weight: 500;
	line-height: 200%;
}




tr{
	background: #00b7ea;
	opacity: .8;
	height: 35px;
	text-align: center;


	/*font-family: "Calisto MT", Times, serif;*/


}

th{
	background: #666666;
	background: -moz-linear-gradient(top, #666666 0%, #00b7ea 100%);
	background: -webkit-linear-gradient(#666666 0%, #00b7ea 100%);
	background: -o-linear-gradient(#666666 0%, #00b7ea 100%);
	background: linear-gradient(#666666 0%, #00b7ea 100%); 

	

	-webkit-border-radius: 7px  7px 0 0;
	-moz-border-radius: 7px  7px 0 0;
	-ms-border-radius: 7px  7px 0 0;
	-o-border-radius: 7px  7px 0 0;
	border-radius: 7px  7px 0 0;

	height: 35px;
	text-align: center;
	/*extra one property text color*/
	color: white;
	padding-left: 3%;

	/*font-family: "Lucida Sans", Times, sans-serif;*/
	

} 

td{
	background: #00b7ea;
	color:#000000;
	/*opacity: .8;*/
	height: 35px;
	min-width: 100px;
	text-align: center;
	padding-left: 3%;

	text-shadow: 1px 1px 1px #ffffff;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;

	/*font-family: "Calisto MT", Times, serif;*/


}

th:first-child ,td:first-child {
	text-align: left;
	
}

tr:hover{
	opacity: 1;

}


ul.raselUtshob{
	font-size:1.6rem;
}

ul.optima{
	font-size:1.3rem;
}

span.verdara{
	font-size: 1.3rem;
}

.list1 {	
  list-style-type: none;

}


ul.list1 li:before {

  content: '';

  display: inline-block;

  height: 15px;

  width: 15px;

   background-size: 15px;

  background-image: url("../image/checkMarkGreen.png");

  background-repeat: no-repeat;

  margin-right: 5px;

}

.english{
	display: none;
}


div.selectLanguage{
	float: right;
	margin-top: 5px;
	margin-right: 10px;
	font-size: 2rem;
	display: inline-block;
	position: unset;
}


div.selectLanguage a{
	font-size: 1rem;
	background-color:#add8e6;
}

div.selectLanguage a:hover{
	background-color:#155bd4;
}

div.selectNav{
	float: right;
	margin-top: 5px;
	margin-right: 10px;
	font-size: 2rem;
	display: inline-block;
	position: unset;
}

div.selectNav a{
	font-size: 1rem;
	background-color:#add8e6;
}

div.selectNav a:hover{
	background-color:#155bd4;
}





.raselUtshob{
	font-family: "RaselUtshobUnicode";
}

.verdana{
	font-family: "Verdana";
}

.optima{
	font-family: "optima";
}



#nav{
	width: 100%;
	z-index: 200;
	position: relative;
	padding-top: 2px;
	/*background-color: #800000;*/
}

/* Navigation links */
#nav a {
	box-sizing: border-box;
	background-color: #800000;
	display: inline-block;
	/*height:40px;*/
  float: left;
	vertical-align: middle;
  /*padding-top: 10px;*/
  color: white;
  text-decoration: none;
  /*font-size: 1.2rem;*/
  /*width: 24.5%;*/
   /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
  /*margin-left:2px;*/
  /*margin-right: 2px; */

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius:10px;
  border-radius: 10px;
}



#nav a {
	
	height:40px;
  padding-top: 10px;
  font-size: 1.2rem;
  width: 49%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
  margin-left:2px;
  margin-bottom:2px;
  /*margin-right: 2px; */

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius:10px;
  border-radius: 10px;
}




#nav:after{
	content:""; 
	clear:both;
}

#nav a:hover {
  background-color:#A52A2A;
}

/*.navigationBar a.active {
  background-color: #4CAF50;
}*/

/* Page content */







@media screen and (min-width:768px){
	
	html{
	  font-size: 15px;
	}

	.forBelowMd{
		display: none;
	}
    /*header{

    	background: #808080;
    	background-image: url("../image/PhotoGallery6.jpg");
    	to set the imgae according to browser width
    	background-size: 100%;
    	height:250px;
    	border: 2px solid;
    	font-size: 1.2rem;
    }*/


    .forAboveMd{
    	display: block;
    }

    h1{
    	
    	font-size: 2.5rem;
    }



	#nav a {
		
		height:40px;
	  padding-top: 10px;
	  font-size: 1.2rem;
	  width: 24.5%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
	  text-align: center; /* If you want the text to be centered */
	  margin-left:2px;
	  /*margin-right: 2px; */

	  -webkit-border-radius: 10px;
	  -moz-border-radius: 10px;
	  -ms-border-radius: 10px;
	  -o-border-radius:10px;
	  border-radius: 10px;
	}


	.content {
	  padding: 16px;
	}

	/* The sticky class is added to the navbar with JS when it reaches its scroll position */
	.sticky {
	  position: fixed;
	  top: 0;
	  width: 100%;
	}

	/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
	.sticky + .content {
	  padding-top: 60px;
	}


	.left{
		float:left;
		border: 1px solid #06425C;
		background-color:#486B02;
		display: inline-block;
		width: 200px;
		height:610px;
		padding-bottom: .5rem;
		/*visibility: auto;*/

		
		border: 1px solid #ddd;
		position: relative;
	}

	#btnUp , #btnDown {
	  /*display: inline-block;*/
	  /*width:60px;*/
	  border: none;
	  color: white;
	  margin:0 ;
	  padding: 0;
	  cursor: pointer;
	  background-color: rgb(255,255,0,0);
	  
	}
	i{
		display: inline-block;
		/*height: 30px;*/
		font-size: 60px;
	}

	/*.arrow{
		height: 65px;
		width:100%;
	}*/

	#theDiv {
		height: 460px;
		overflow: hidden;
	  
	}


	button{
		width:100%;
	}
	
	

	  #btnUP{
	  	display: block;
	  	width:100%;
	  	position:absolute;
	  	top:0;
	  	left:0;
	  	
	  }
	  

	  #btnDown{
	  	display: block;
	  	width:100%;
		position: absolute;
		bottom:0;
		left: 0;
		
	  }


	  

	aside img{
		display:block;
		/*width:85%;*/
		height: 150px;
		margin:7%;
		border:1px solid black;
		margin:5% auto;
		
	}

	.right{
		
		float:right;
		display: inline-block;
		width:70%;
		text-align: justify;
		height:200vh;
		margin:1%;
		padding:1%;
		/*visibility: auto;*/
		
	}

	.left:after , .right:after{
		content: "";
		display:table;
		clear:both;
	}

	div.selectNav{
		display: none;
	}


	#headerCarousel .img {
	  width:100%;
	  max-height: 200px;
	}
	

	.carousel1 {
	  height: 250px;
	  min-height: 150px;
	  background: no-repeat center center scroll;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}

	#headerCarousel .carousel-indicators li {
	  width: 10px;
	  height: 10px;
	  border-radius: 100%;
	}



  
}







